ul.navbar {
    list-style-type: none;
    padding: 5px;
    text-align: right;
    font-size: 21px;
    margin-bottom: 0px;
  }
  ul.navbar li {
    display: inline;
    margin-right: 90px;
  }
  ul.navbar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .navbar:after {
    content: ""; /* Create an empty pseudo-element */
    display: block; /* Make it a block-level element */
    width: 100%; /* Stretch it across the screen */
    margin-top: 20px; /* Margin to create space between the navbar and the border */
}
  .NewUser {
    width: 10%;
    padding: 7px 10px;
    border: 0;
    background:#b0c1b3;
    border-radius: 5px;
    margin: 5px 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: justify;
    padding: 0px
  }
  .column {
    float: left;
    height: 800px;
    box-sizing: border-box;
    border: 2px solid #b0c1b3

  }
  .left {
    text-align: center;
    width: 40%;
  }
  .right {
    width: 60%;

  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 55px;
    padding: 0px;
    width: 600px;
  }
